/* Custom styles for index page */
body {font-family: 'Montserrat', sans-serif; min-height: 0;}
.navbar-brand {
    margin-left: 5.5rem;
    margin-right: 2rem;
    color: #f48641 !important;
    font-size: 1.6rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.nav-link {color: #fff !important;}
a.nav-link:hover { color: #f48641 !important; }
a {outline: 0;}
.dropdown-item:hover { color: #f48641 !important; }
.dropdown-noclick:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Remove the gap so it doesn't close */
}
.search-addr { width: 22rem !important; }
.sign-in-bar { margin-right: 5rem !important; }
.menu-item {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.search-bar { position: relative; }
.search-bar input { text-indent: 1rem; }
.search-bar .fa-map-marker { 
    position: absolute;
    top: 11px;
    left: 10px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.mid-section {
    margin: 0;
    padding: 10px calc((100% - 1240px)/ 2);
}
.footer {
    color: #fff;
    text-align: center;
}
.footer-nav {
    margin: 0;
    padding: 0;
}
.footer-nav-item {
    display: inline-block;
    padding: 0 15px 0 15px;
    vertical-align: middle;
}
.footer-nav-small {
    font-size: 12px;
}
.footer-copyright-follow {
    padding-left: 0;
    padding-right: 0;
}
.footer-nav-separator {
    border-color: #eaecef;
    border-style: solid;
    border-width: 0 0 1px;
}
.search-wrapper {
    background: url(/static/main/img/sample_1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color:#000;
    width: 100% !important;
    height: 550px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-intro {
    color: white;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1;
}
.search-form {width: 27rem !important; position: relative;}
.search-form input { text-indent: 1rem; }
.search-btn { margin-left: -.545rem; cursor: pointer;}
.marker-inside{ margin-right: 0rem; }
.featured-listings {
    padding: 50px 50px 0 50px;
    text-align: center;
}
.fl-intro {
    color: black;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1;
}
.slider-parent {
    min-width: 0;
    min-height: 0;
}
.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 22px;
}
.img-box{
    height: 200px;
    margin: 0 .3em;
    color:#fff;
    background-size: cover;
    background-position: 50%;
}
.home-photo-caption {
    padding-top: 115px;
    padding-left: 8px;
    line-height: 1.3;
    position: relative;
    color: #fff;
}
.home-photo-status {
    text-align: left;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}
.home-photo-spec-price {font-size: 30px; margin-right: 10px; margin-left: -36px;}
.home-photo-spec-details {font-size: 15px;}
.home-photo-addr {text-align: left; font-size: 15px;}
.top-cities-group {
    text-align: center; 
}
.top-cities-item {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 5px;
    letter-spacing: .5px;
}
.top-cities-wrapper {
    height: 200px;
    width: 100%;
    display: table;
    background-size: cover;
    background-position: 50%;
}
.topcities-title {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.mid-section-ending {
    background-color: #eaecef;
    text-align: center;
    margin-top: 40px;
    padding: 40px 100px;
}
.ending-title {
    font-size: 18px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
}
.ending-detail {
    font-size: 14px;
    color: #616366;
    text-align: center;
}
.mail-to {
    vertical-align: middle;
    padding-bottom: 5px;
}
/* Custom styles for homes display page */
.search-input {
    padding: 8px 16px;
    border-bottom: 1px solid #caccce;
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 21;
}
.search-input-wrapper {width: 310px; float: left;}
.search-icon {
    background-color: white;
    border-left: none;
}
.search-filters {
    display: flex;
}
.search-filters-btn {
    font-size: .8rem;
    margin-left: .7rem;
    vertical-align: middle;
    text-align: center;
}
.btn-custom {
    background-color: #fff;
    border-color: #ccc;
}
.dropdown-custom {
    padding: 5px 12px;
    min-width: auto;
}
.dropdown-search-item {
    background-color: white;
}
.search-item-link {
    color: black;
    font-size: .9rem;
    line-height: 1rem;
}
.search-item-link:hover, .dropdown-search-item:hover {
    color: #f48641;
    text-decoration: none;
}