<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="../static/main/img/favicon.ico">
    <title>Cendaro</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/main/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main/css/slick.css">
    <link rel="stylesheet" href="../static/main/css/slick-theme.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    {% block head %}{% endblock head %}
  </head>

  <body>
    {% block content %}{% endblock content %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/main/js/popper.min.js"></script>
    <script src="../static/main/js/bootstrap.min.js"></script>
    <script src="../static/main/js/slick.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/main/js/ie10-viewport-bug-workaround.js"></script>
    {% block script %}{% endblock script %}
  </body>
</html>