{% extends "base.html" %}

{% block head %}
    <!-- Custom styles for this page -->
    <link href="../static/main/css/navbar-top-fixed.css" rel="stylesheet">
    <link href="../static/main/css/index-style.css" rel="stylesheet">
    <link href="../static/main/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head %}

{% block content %}
    <!-- Beginning of header nav bar -->
    <nav class="navbar-layout navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="https://www.cendaro.com">cendaro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item menu-item">
            <a class="nav-link" href="/homes">Buy</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link" href="/sell">Sell</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link" href="/homes/for_rent">Rent</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link" href="/find_agent">Find Agent</a>
          </li>
          <li class="nav-item menu-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://cendaro.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mortgages</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/mortgage_rates">Mortgage Rates</a>
              <a class="dropdown-item" href="/refinance_rates">Refinance Rates</a>
              <a class="dropdown-item" href="/calculator">Mortgage Calculator</a>
            </div>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav sign-in-bar">
          <li class="nav-item menu-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item menu-item">
            <a class="btn btn-success" href="/signin">Sign in</a>
          </li>
        </ul>
      </div>
    </nav>

{% endblock content %}

{% block script %}

{% endblock script %}