{% extends "base.html" %}

{% block head %}
    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="/static/main/css/map-style.css">
{% endblock head %}

{% block content %}
    <!-- Search and filters placed right under the nav bar -->
    <section class="search-input">
      <div class="search-input-wrapper input-group">
        <span class="input-group-addon" id="geoFindMe-btn" onclick="geoFindMe()"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
        <input type="text" id="address-autocomplete" class="form-control" placeholder="City or zip code" style="font-size: 12.5px;" aria-describedby="basic-addon1">
        <span class="input-group-addon search-icon" id="address-search"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <div class="search-filters">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle search-filters-btn" type="button" id="listing-type-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Listing type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom" aria-labelledby="listing-type-dropdown">
            <li class="dropdown-search-item"><a class="search-item-link" href="#">For sale</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">For rent</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle search-filters-btn" type="button" id="price-range-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Price range
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom" aria-labelledby="price-range-dropdown">
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$10,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$50,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$100,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$150,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$200,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$250,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$300,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$400,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">$500,000+</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle search-filters-btn" type="button" id="bed-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Beds
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom" aria-labelledby="bed-dropdown">
            <li class="dropdown-search-item"><a class="search-item-link" href="#">Any</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">Studio</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">1</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">2</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">3+</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle search-filters-btn" type="button" id="bath-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Baths
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom" aria-labelledby="bath-dropdown">
            <li class="dropdown-search-item"><a class="search-item-link" href="#">Any</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">1+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">2+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">3+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">4+</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle search-filters-btn" type="button" id="sqft-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Square feet
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom" aria-labelledby="sqft-dropdown">
            <li class="dropdown-search-item"><a class="search-item-link" href="#">Any</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#"><1,000</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">1,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">2,000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">3,000+</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle search-filters-btn" type="button" id="year-built-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Year built
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom" aria-labelledby="year-built-dropdown">
            <li class="dropdown-search-item"><a class="search-item-link" href="#">Any</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">Before 1980</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">1980+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">2000+</a></li>
            <li class="dropdown-search-item"><a class="search-item-link" href="#">New</a></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Beginning of body container -->
    <div class="container-custom">
      <section class="main-display">
        <div class="map-display" id="map-display">
        </div>

        <div class="property-display">
          <div class="property-display-top" id="property-city-display"></div>
          <div class="property-display-group">
            {% if home_list %}
              {% for home in home_list %}
                <div class="property-display-item">
                  <a class="property-display-link" href="/homes/for_sale/{{home.full_addr}}">
                  <div class="property-display-wrapper" style="background-image: url(/static/main/img/homes/{{home.full_addr}}/{{home.image.0}});">
                    <div class="property-photo-caption">
                      <div class="property-photo-status">{{home.property_type}} for {{home.property_status}}</div>
                      <div class="property-photo-spec">
                        <span class="property-photo-spec-price">{{home.price}}</span>
                        <span class="property-photo-spec-details">{{home.bed}} bed . </span>
                        <span class="property-photo-spec-details">{{home.bath}} bath . </span>
                        <span class="property-photo-spec-details">{{home.sqft}} sqft</span>
                      </div>
                      <div class="property-photo-addr">{{home.address}}, {{home.city}}, {{home.state}}</div>
                    </div>
                  </div>
                  </a>
                </div>
              {% endfor %}
            {% else %}
              <div class="property-display-item">
                <div class="property-display-wrapper" style="background-image: url(/static/main/img/city-skyline/saigon-d1.jpg);"><div class="topcities-title">Ho Chi Minh City</div></div>
              </div>
              <div class="property-display-item">
                <div class="property-display-wrapper" style="background-image: url(/static/main/img/city-skyline/hanoi_skyline.jpg);"><div class="topcities-title">Ha Noi</div></div>
              </div>
              <div class="property-display-item">
                <div class="property-display-wrapper" style="background-image: url(/static/main/img/city-skyline/danang-skyline.jpg);"><div class="topcities-title">Da Nang</div></div>
              </div>
              <div class="property-display-item">
                <div class="property-display-wrapper" style="background-image: url(/static/main/img/city-skyline/vungtau-skyline.jpg);"><div class="topcities-title">Vung Tau</div></div>
              </div>
              <div class="property-display-item">
                <div class="property-display-wrapper" style="background-image: url(/static/main/img/city-skyline/nhatrang-skyline.jpg);"><div class="topcities-title">Nha Trang</div></div>
              </div>
              <div class="property-display-item">
                <div class="property-display-wrapper" style="background-image: url(/static/main/img/city-skyline/cantho-skyline.jpeg);"><div class="topcities-title">Can Tho</div></div>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
{% endblock content %}

{% block script %}
    <script src="/static/main/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTOeyBX-lPL5p0YhWboo8XLg9fGvhhTDo&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
      $(document).ready(function(){
          geoFindMe();
          $(".property-photo-spec-price").each(function() {
            var price = $(this).text();
            var formatted_price = "$" + addCommas(price);
            $(this).text(formatted_price);
          });

      });
    </script>
{% endblock script %}