{% extends "base.html" %}

{% block head %}
    <!-- Custom styles for this page -->
{% endblock head %}

{% block content %}

    <!-- Beginning of body container -->
    <div class="container-fluid">
      <div class="search-wrapper">
        <p class="search-intro">Find your perfect home</p>
        <div class="search-center">
          <form class="form-inline mt-2 mt-md-0" action="">
            <input class="form-control mr-sm-2 search-form" type="text" maxlength="60" placeholder="Enter an address, city or zip code" aria-label="Search">
            <button class="btn btn-success search-btn" type="submit">Search</button>
          </form>
        </div>
      </div>

      <div class="mid-section">
        <div class="featured-listings">
          <div class="fl-intro">Featured homes</div>
          <div class="responsive-slider">
            {% if home_list %}
              {% for home in home_list %}
                <div class="img-box" style="background-image: url(/static/main/img/homes/{{home.full_addr}}/{{home.image.0}});">
                  <a class="home-display-link" href="/homes/for_sale/{{home.full_addr}}">
                    <div class="home-photo-caption">
                      <div class="home-photo-status">{{home.property_type}} for {{home.property_status}}</div>
                      <div class="home-photo-spec">
                        <span class="home-photo-spec-price">{{home.price}}</span>
                        <span class="home-photo-spec-details">{{home.bed}} bed . </span>
                        <span class="home-photo-spec-details">{{home.bath}} bath . </span>
                        <span class="home-photo-spec-details">{{home.sqft}} sqft</span>
                      </div>
                      <div class="home-photo-addr">{{home.address}}, {{home.city}}, {{home.state}}</div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% else %}
              <div class="img-box" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/sf-2lPZNGo.jpg);"><h3>3</h3></div>
              <div class="img-box" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/seattle-5ZdO0v_.jpg);"><h3>3</h3></div>
              <div class="img-box" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/houston-2ipc4LO.jpg);"><h3>3</h3></div>
              <div class="img-box" style="background-image: url(/static/main/img/city-skyline/sanjosetowers.png);"><h3>4</h3></div>
              <div class="img-box" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/la-24iCGPO.jpg);"><h3>5</h3></div>
              <div class="img-box" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/sandiego-xJjGtyc.jpg);"><h3>6</h3></div>
            {% endif %}
          </div>
        </div>

        <div class="featured-listings top-cities-section">
          <div class="fl-intro">Top cities in the US</div>
          <div class="top-cities-group">
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/sf-2lPZNGo.jpg);"><div class="topcities-title">San Francisco</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/seattle-5ZdO0v_.jpg);"><div class="topcities-title">Seattle</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/houston-2ipc4LO.jpg);"><div class="topcities-title">Houston</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/sanjosetowers.png);"><div class="topcities-title">San Jose</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/la-24iCGPO.jpg);"><div class="topcities-title">Los Angeles</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/sandiego-xJjGtyc.jpg);"><div class="topcities-title">San Diego</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/dallas-kamPABK.jpg);"><div class="topcities-title">Dallas</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/vegas-C4QqaHd.jpg);"><div class="topcities-title">Las Vegas</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(https://nodes3cdn.hotpads.com/hotpads-web/dist/miami-1m9qTPc.jpg);"><div class="topcities-title">Miami</div></div>
            </div>
          </div>
        </div>

        <div class="featured-listings top-cities-section">
          <div class="fl-intro">Top cities in Vietnam</div>
          <div class="top-cities-group">
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/saigon-d1.jpg);"><div class="topcities-title">Ho Chi Minh City</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/hanoi_skyline.jpg);"><div class="topcities-title">Ha Noi</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/danang-skyline.jpg);"><div class="topcities-title">Da Nang</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/vungtau-skyline.jpg);"><div class="topcities-title">Vung Tau</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/nhatrang-skyline.jpg);"><div class="topcities-title">Nha Trang</div></div>
            </div>
            <div class="top-cities-item">
              <div class="top-cities-wrapper" style="background-image: url(/static/main/img/city-skyline/cantho-skyline.jpeg);"><div class="topcities-title">Can Tho</div></div>
            </div>
          </div>
        </div>

      </div>

      <div class="mid-section-ending">
        <div class="ending-title">Searching made easy</div>
        <div class="ending-detail">Cendaro shows homes for sale and for rent in selected cities in the USA and Vietnam. Homes are displayed
          on the map with trivial information for quick browsing. We only show verified homes and real estate agents for your convenience.
          Search for your perfect home now!
        </div>
      </div>
    </div>

    <!-- Beginning of footer -->
    <footer class="footer">
      <div class="footer bg-dark">
        <div class="footer-nav footer-nav-separator">
          <ul class="footer-nav">
            <li class="footer-nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="footer-nav-item">
              <a class="nav-link" href="/advertise">Advertise</a>
            </li>
            <li class="footer-nav-item">
              <a class="nav-link" href="/help">Help</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav">
          <ul class="footer-nav">
            <li class="footer-nav-item footer-nav-small">© 2017 Cendaro</li>
            <li class="footer-nav-item footer-nav-small">
              <span class="footer-nav-item footer-copyright-follow">Follow us</span>
              <span class="footer-nav-item footer-copyright-follow"><a class="nav-link" href="http://www.facebook.com/cendaro-homes"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></span>
              <span class="footer-nav-item footer-copyright-follow"><a class="nav-link" href="http://www.twitter.com/cendaro-homes"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></span>
              <span class="footer-nav-item footer-copyright-follow"><a class="nav-link" href="mailto:contact.michaelcn@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true">&nbsp;</i><span class="mail-to">contact.michaelcn@gmail.com</span></a></span>
            </li>
          </ul>
        </div>
      </div>
    </footer>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.responsive-slider').slick({
          infinite: false,
          speed: 300,
          arrows: true,
          adaptiveHeight: false,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });

        $(".home-photo-spec-price").each(function() {
            var price = $(this).text();
            var formatted_price = "$" + addCommas(price);
            $(this).text(formatted_price);
        });
      });
    </script>
{% endblock script %}
